* {
   font-family: "Roboto";
}

html {
   height: 100vh;
   background-color: rgb(247, 243, 243);
}

h1 {
   text-align: center;
   font-weight: 400;
}

header {
   display: flex;
   justify-content: center;
}
.container-game-data {
   margin-top: 0.8rem;
   display: flex;
   width: 500px;
   justify-content: space-around;
   /* border: 1px solid red; */
}

.score,
.life {
   font-size: 1.1rem;
}

.container-canvas {
   display: flex;
   justify-content: center;
   margin-top: 0.5rem;
}

.canvas {
   border: 1px solid gray;
}
